@import '../../../scss/mixin';

.faq-container {
  background-color: #000;
  color: #fff;
  text-align: center;
  border-top: 0.8rem solid #222;
  padding: 0 6vw;
}

.faq-main-title {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 2rem 0 1rem 0;
}

.faq-subtitle {
  margin-top: 1.6rem;
  margin-bottom: 1.2rem;
  padding: 0 5rem 0 5rem;
  font-size: 1.625rem;
}

.faq-email-form {
  display: inline-block;
}

.faq-btn-get-started {
  padding: 0 1rem 0 1rem;
  height: 4rem;
  font-size: 1.4rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 5rem;
  background-color: #e50914;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
}

// Accordion component
.accordion {
  width: 100%;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.8rem;
  border: none;
  border-top: 1rem solid #000;
  border-bottom: solid 1px #000;
  transition: 0.4s;
}

// Add a second one
// with JS toggle the display class
.panel {
  background-color: #444;
  padding: 1.8rem 1.4rem 1.8rem 1.4rem;
  font-size: 1.8rem;
  text-align: left;
  overflow: hidden;
}

@include respond(medium) {
  .accordion-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .accordion,
  .panel {
    width: 65vw;
    font-size: 1.8rem;
  }

  .faq-field {
    .faq-input {
      width: 60vw;
    }
  }

  .faq-subtitle {
    padding: 0 15rem 0 15rem;
    font-size: 2.2rem;
  }
}

@include respond(large) {
  .faq-main-title {
    font-size: 3.6rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  .accordion {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .accordion,
  .panel {
    width: 60vw;
    font-size: 2rem;
    padding-left: 3rem;
  }
  .panel {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@include respond(xlarge) {
  .accordion,
  .panel {
    width: 55vw;
    font-size: 2rem;
    padding-left: 3rem;
  }
}
