.faq-container {
  background-color: #000;
  color: #fff;
  text-align: center;
  border-top: 0.8rem solid #222;
}

.faq-main-title {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.faq-subtitle {
  margin-top: 1.6rem;
  margin-bottom: 1.2rem;
  padding: 0 5rem 0 5rem;
  font-size: 1.625rem;
}

.faq-email-form {
  display: inline-block;
}

.faq-btn-get-started {
  padding: 0 1rem 0 1rem;
  height: 4rem;
  font-size: 1.4rem;
  border: none;
  margin-top: 1rem;
  margin-bottom: 5rem;
  background-color: #e50914;
  border: none;
  color: #fff;
}

// Accordion component
.accordion {
  width: 100vw;
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  border-top: 1rem solid #000;
  border-bottom: solid 1px #000;
  transition: 0.4s;
}

// Add a second one
// with JS toggle the display class
.panel {
  background-color: #444;
  padding: 1.8rem 1.4rem 1.8rem 1.4rem;
  font-size: 1.8rem;
  text-align: left;
  overflow: hidden;
}

// email input field + animation
.faq-field {
  position: relative;

  label::before {
    content: attr(title);
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    color: #777;
    font-size: 1.2rem;
    transition: 0.1s all;
  }

  .faq-input {
    padding-left: 0.8rem;
    width: 90vw;
    border: none;
    font-size: 1.2rem;
    color: #111;
    height: 4rem;

    &:focus,
    &:valid {
      outline: none;
      padding-top: 1rem;
    }

    &:valid + label::before,
    &:focus + label::before {
      @extend .text-animation;
    }
  }
}

.text-animation {
  font-size: 1rem;
  top: 2px;
  left: 0.3px;
  font-weight: 700;
  padding: 0 6px;
}

// ***** RESPONSIVE *****

/* 768px display */
@media (min-width: 48rem) {
  .accordion-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .accordion,
  .panel {
    width: 85vw;
    font-size: 2rem;
  }

  .faq-field {
    .faq-input {
      width: 60vw;
    }
  }

  .faq-subtitle {
    padding: 0 15rem 0 15rem;
    font-size: 2.2rem;
  }
}

/* 1024px display */
@media (min-width: 64rem) {
  .faq-main-title {
    font-size: 5rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
  }
  .accordion {
    font-size: 2.6rem;
  }
  .accordion,
  .panel {
    width: 70vw;
    font-size: 2.6rem;
    padding-left: 3rem;
  }
  .accordion {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .panel {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
