.features-container {
  background-color: #000;
  color: #fff;
  text-align: center;
  border-top: 0.8rem solid #222;
}

.main-title {
  padding-top: 3rem;
  font-size: 2.6rem;
  font-weight: 600;
}

.subtitle {
  margin-top: 1rem;
  font-size: 1.625rem;
}

.image-feature {
  width: 90vw;
  margin-bottom: 3rem;
}
