.navbar-container {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1rem;
  padding-bottom: 1.2rem;

  color: #fff;
  transition: all 0.3s ease-out;
}

.navbar-active {
  background-color: #000;
}

.navbar-browse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  width: 100%;
  transition: all 0.3s ease-out;

  a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.1s;

    &:hover {
      color: #e50914;
    }
  }
}
.navbar-browse-disabled {
  opacity: 0;
  pointer-events: none;
}

.navbar-right {
  position: absolute;
  right: 5%;
  display: flex;
  align-items: center;
  right: 10;
}

.navbar-logo {
  position: absolute;
  margin-left: 4px;
  width: 8rem;
  cursor: pointer;
}

.search-icon {
  cursor: pointer;
}

.profile-section {
  cursor: pointer;

  .navbar-avatar {
    width: 2.8rem;
    margin-left: 2rem;
    margin-right: 6px;
    border-radius: 1px;
  }

  .navbar-caret {
    &active {
      transition: all 0.2s;
      transform: rotate(180deg);
    }
    &inactive {
      transition: all 0.2s;
      transform: rotate(0deg);
    }
  }
}

.profile-logout {
  position: absolute;
  margin-top: 1rem;
  background-color: red;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #000;
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: default;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}

.profile-logout.show {
  opacity: 1;
  cursor: pointer;
  pointer-events: initial;
}
